@import url(https://fonts.googleapis.com/css?family=Poppins);


#outer{
  position: absolute;
}
#chart {
  position: relative;
  z-index: -1;
  max-width: 70%;
  margin: 35px auto;
}

#reason{
  z-index: 10;
  position: absolute;
  font-family: 'Poppins';
  font-size: 14px;
  border-style: solid;
  height: 170px;
  width: 350px;
  padding: 15px;
  box-shadow: 6px 4px 8px lightgray;
  border-radius: 20px;
  border-color: lightgray;
  border-width: 1px; 
  margin-top: 335px;
  margin-left: 750px;
}

#button{
  position: absolute;
  z-index: 1;
  margin-top: 720px;
  margin-left: 100px;
}
.apexcharts-legend {
  position: relative;
  top: 0 !important;
  border-style: solid;
  box-shadow: 6px 4px 8px lightgray;
  border-radius: 20px;
  border-color: lightgray;
  border-width: 1px; 
  justify-content:center !important;
  min-width: 20%;
  max-height: 20%;
  margin-top: 335px;
  margin-left: 750px;
  padding-left: 5% !important;
  font-size: 14px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
